---
services: docker

env:
  # Test package install on all supported OSes.
  - distro: gallium
    playbook: test.yml
  - distro: xenial
    playbook: test.yml

script:
  # Configure test script so we can run extra tests after playbook is run.
  - export container_id=$(date +%s)
  - export cleanup=false
  - export test_suite=false

  # Run tests.
  - chmod +x ${PWD}/tests/test.sh
  - ${PWD}/tests/test.sh

  # Ensure Node.js is installed.
  - 'docker exec --tty ${container_id} env TERM=xterm which node'
  - 'docker exec --tty ${container_id} env TERM=xterm node -v'

  # Ensure npm packages are installed globally.
  - 'docker exec --tty ${container_id} env TERM=xterm bash --login -c "npm list -g --depth=0 jslint"'
  - 'docker exec --tty ${container_id} env TERM=xterm bash --login -c "npm list -g --depth=0 node-sass"'
  - 'docker exec --tty ${container_id} env TERM=xterm bash --login -c "npm list -g --depth=0 yo"'

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/